trigger:
  batch: true
  branches:
    include:
    - master
    - release/*

stages:
- stage: build
  displayName: Build
  jobs:
    ############ LINUX BUILD ############
    - job: Build_Linux_x64
      displayName: Linux x64
      timeoutInMinutes: 120
      pool:
        vmImage: ubuntu-16.04
      steps:
        - bash: |
            sudo apt update
            sudo apt -y install libpango1.0-dev libgif-dev libjpeg-dev libtiff-dev autoconf libtool automake build-essential
          displayName: 'Install Linux dependencies'

        - bash: |
            export CFLAGS="-ggdb3 -O2"
            ./autogen.sh --prefix=/usr --enable-warnaserror
            make -j4
            sudo make install
          displayName: 'Build and Install libgdiplus'

        - bash: |
            if ! make check; then
              cat ./tests/test-suite.log
              exit 1
            fi
          displayName: 'Run libgdiplus tests'

        - bash: |
            sudo apt -y install xvfb gettext cmake git
            git clone --depth 1 --recurse-submodules https://github.com/mono/mono /tmp/mono
            cd /tmp/mono
            ./autogen.sh --prefix=/tmp/mono-dev --disable-boehm
            make -j4
          displayName: 'Clone and Build mono'

        - bash: |
            make -C /tmp/mono/mcs/class/System.Drawing run-test
          displayName: 'Run mono System.Drawing tests'

        - bash: |
            make -C /tmp/mono/mcs/class/System.Drawing run-xunit-test
          displayName: 'Run mono System.Drawing xunit tests'

        - bash: |
            xvfb-run make -C /tmp/mono/mcs/class/System.Windows.Forms run-test
          displayName: 'Run mono System.Windows.Forms tests'

    ############ MACOS BUILD ############
    - job: Build_Mac_x64
      displayName: macOS x64
      timeoutInMinutes: 30
      pool:
        vmImage: macOS-10.14
      steps:
        - bash: |
            brew install glib cairo libexif libjpeg giflib libtiff autoconf libtool automake pango pkg-config
          displayName: 'Install macOS dependencies'

        - bash: |
            export CFLAGS="-m64 -arch x86_64 -mmacosx-version-min=10.9"
            export LDFLAGS="-m64 -arch x86_64"
            ./autogen.sh --enable-warnaserror --without-x11 --host=x86_64-apple-darwin13.0.0 --build=x86_64-apple-darwin13.0.0
            make -j4
          displayName: 'Build libgdiplus'

        - bash: |
            if ! make check; then
              cat ./tests/test-suite.log
              exit 1
            fi
          displayName: 'Run libgdiplus tests'

    ############ WINDOWS BUILD ############
    - job: Build_Windows_x86_x64
      displayName: Windows x86+x64
      timeoutInMinutes: 60
      pool:
        vmImage: vs2017-win2016
      steps:
        - script: |
            vcpkg integrate install
            vcpkg install giflib libjpeg-turbo libpng cairo glib tiff libexif glib pango --triplet x86-windows
            vcpkg install giflib libjpeg-turbo libpng cairo glib tiff libexif glib pango --triplet x64-windows
          displayName: 'Install Windows dependencies'

        - task: MSBuild@1
          displayName: 'Build libgdiplus x86'
          inputs:
            solution: libgdiplus.sln
            platform: Win32
            configuration: Release

        - task: MSBuild@1
          displayName: 'Build libgdiplus x64'
          inputs:
            solution: libgdiplus.sln
            platform: x64
            configuration: Release

    ############ LINUX MONO-NETCORE BUILD ############
    - job: Build_Linux_x64_mono_netcore
      displayName: Linux x64 mono-netcore
      timeoutInMinutes: 120
      pool:
        vmImage: ubuntu-16.04
      steps:
        - bash: |
            sudo apt update
            sudo apt -y install libpango1.0-dev libgif-dev libjpeg-dev libtiff-dev autoconf libtool automake build-essential
          displayName: 'Install Linux dependencies'

        - bash: |
            export CFLAGS="-ggdb3 -O2"
            ./autogen.sh --prefix=/usr --enable-warnaserror
            make -j4
            sudo make install
          displayName: 'Build and Install libgdiplus'

        - bash: |
            sudo apt -y install xvfb gettext cmake git
            git clone --depth 1 https://github.com/mono/mono /tmp/mono
            cd /tmp/mono/netcore
            ./build.sh
          displayName: 'Clone and Build mono-netcore'

        - bash: |
            make -C /tmp/mono/netcore run-tests-corefx-System.Drawing.Common.Tests
          displayName: 'Run mono-netcore System.Drawing.Common tests'

