Makefile
Makefile.in
config.guess
config.h
config.h.in
config.sub
config.log
configure
depcomp
install-sh
libgdiplus.pc
libgdiplus0.spec
ltmain.sh
missing
aclocal.m4
autom4te.cache/
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
config.status
libtool
stamp-h1
test-driver
compile
tests/*.trs
tests/*.log
.vs/
Debug/
Release/
*.user
gtk/
*.7z
packages/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Windows ###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk