Makefile
Makefile.in
config.guess
config.h
config.h.in
config.sub
config.log
configure
depcomp
install-sh
libgdiplus.pc
libgdiplus0.spec
ltmain.sh
missing
aclocal.m4
autom4te.cache/
config.status
libtool
stamp-h1
test-driver
compile
tests/*.trs
tests/*.log

