language: c

os:
  - linux
  - osx

addons:
  apt:
    packages:
    - libpango1.0-dev
    - libgif-dev
    - libjpeg-dev
    - libtiff-dev
    - xvfb
    - autoconf
    - libtool
    - automake
    - build-essential
    - gettext
    - cmake
    - git

install:
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/a8ac7ea5fe9339558c9fbe49acaa1a2452bcd4d0/Formula/pango.rb; brew install glib cairo libexif libjpeg giflib libtiff autoconf libtool automake pkg-config || true; fi

script:
- set -e
- export CFLAGS="-ggdb3 -O2"
- echo "travis_fold:start:build_libgdiplus"
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then ./autogen.sh --prefix=/tmp/mono-dev --enable-warnaserror; fi
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/usr/local/opt/libffi/lib/pkgconfig" ./autogen.sh --without-x11 --prefix=/tmp/mono-dev --enable-warnaserror --enable-asan; fi
- make -j4
- echo "travis_fold:end:build_libgdiplus"
- /bin/sh -c 'if make check; then true; else cat ./tests/test-suite.log; exit 1; fi'
- make install

- if [ "$TRAVIS_OS_NAME" = "osx" ]; then set +e; exit 0; fi
- echo "travis_fold:start:build_mono"
- cd ..
- git clone --depth 1 --recurse-submodules https://github.com/mono/mono
- cd mono
- ./autogen.sh --prefix=/tmp/mono-dev --with-libgdiplus=/tmp/mono-dev/lib/libgdiplus.so --disable-boehm
- make -j4
- make -C mcs/class/System.Drawing test
- make -C mcs/class/System.Windows.Forms test
- set +e
- echo "travis_fold:end:build_mono"

# Run the System.Drawing and System.Windows.Forms tests.
- make -C mcs/class/System.Drawing run-test
- make -C mcs/class/System.Drawing run-xunit-test
- xvfb-run make -C mcs/class/System.Windows.Forms run-test
