*.o
.deps/
.libs/
Makefile
Makefile.in
testadjustablearrowcap
testbits
testbrush
testclip
testfont
testgraphics
testgdi
testhatchbrush
testlineargradientbrush
testmatrix
testpathgradientbrush
testpen
testpng
testreversepath
testsolidbrush
testtexturebrush
