*.o
.deps/
.libs/
Makefile
Makefile.in
testbits
testbrush
testclip
testfont
testgraphics
testgdi
testhatchbrush
testlineargradientbrush
testpathgradientbrush
testpen
testpng
testreversepath
testsolidbrush
testtexturebrush
